body{
    background-color: #F0EDCF;
}

h1 {
    font-family: "Permanent Marker", serif;
    color: #021526;
    text-align: center;
}

h2 {
    font-family: "Permanent Marker", serif;
    color: #021526;
    text-align: center;
    grid-column: span 2;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    color: #021526;
    font-family: "Permanent Marker", serif;
    text-align: center;
}

.grid-1 {
    display: block;
    margin-left: 25%;
}

.grid-2 {
    display: inline-block;
    margin-right: 25%;
}

.grid-3 {
    margin-top: 25%;
    margin-left: 25%;
    position: relative;
    display: block;
}

.grid-4 {
    margin-top: 25%;
    margin-right: 25%;
    position: relative;
    display: inline-block;
}

img {
    height: 300px;
    width: 400px;
    padding: 20px;
    border: 10px solid #40A2D8;
    background-color: #0B60B0;
}

.about {
    display: block;
    grid-column: span 1;
    margin-top: 25%;
    font-family: "Permanent Marker", serif;
}

footer {
    font-family: "Permanent Marker", serif;
}

@media (min-width 680px) {

    body{
        background-color: #F0EDCF;
    }
    
    h1 {
        font-family: "Permanent Marker", serif;
        color: #021526;
        text-align: center;
    }
    
    h2 {
        font-family: "Permanent Marker", serif;
        color: #021526;
        text-align: center;
        grid-column: span 2;
    }
    
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px;
        color: #021526;
        font-family: "Permanent Marker", serif;
        text-align: center;
    }
    
    .grid-1 {
        display: block;
        margin-left: 25%;
    }
    
    .grid-2 {
        display: inline-block;
        margin-right: 25%;
    }
    
    .grid-3 {
        margin-top: 25%;
        margin-left: 25%;
        position: relative;
        display: block;
    }
    
    .grid-4 {
        margin-top: 25%;
        margin-right: 25%;
        position: relative;
        display: inline-block;
    }
    
    img {
        height: 300px;
        width: 400px;
        padding: 20px;
        border: 10px solid #40A2D8;
        background-color: #0B60B0;
    }
    
    .about {
        display: block;
        grid-column: span 1;
        margin-top: 25%;
        font-family: "Permanent Marker", serif;
    }
    
    footer {
        font-family: "Permanent Marker", serif;
    }
}