body {
    background-color: #F0EDCF;
}

h1 {
    font-family: "Permanent Marker", serif;
    color: #021526;
    text-align: center;
}

h2 {
    font-family: "Permanent Marker", serif;
    color: #021526;
    text-align: center;
    grid-column: span 2;
}

.projects {
    color: #021526;
    font-family: "Permanent Marker", serif;
    text-align: center;
}

img {
    height: 300px;
    width: 500px;
    padding: 20px;
    border: 10px solid #021526;
    background-color: #0B60B0;
}

.about {
    font-family: "Permanent Marker", serif;
}

footer {
    font-family: "Permanent Marker", serif;
}

@media (max-width: 500px) {
    body {
        background-color: #F0EDCF;
    }

    h1 {
        font-family: "Permanent Marker", serif;
        color: #021526;
        text-align: center;
    }

    h2 {
        font-family: "Permanent Marker", serif;
        color: #021526;
        text-align: center;
    }

    .projects {
        color: #021526;
        font-family: "Permanent Marker", serif;
        text-align: center;
    }

    img {
        height: 200px;
        width: 300px;
        border: 10px solid #021526;
        background-color: #0B60B0;
    }
}